<!DOCTYPE html>
<!--
    Thymeleaf を使うために xmlns:th を指定します。
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--
        スマートフォンでも見やすくするための設定です。
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン-ExamHero</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h1>ログイン</h1>
            <div class="success-message" th:if="${param.registered}">
                会員登録が完了しました。<br>
                ログインしてください。
            </div>
            <div class="error-message" th:if="${param.error}">
                メールアドレスまたはパスワードが<br>
                正しくありません。
            </div>

            <div class="success-message" th:if="${param.logout}">
                ログアウトしました。
            </div>

            <form th:action = "@{/login}" method = "post">
                <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"
                >
                
                <div class = "form-group">
                    <label for = "email">メールアドレス</label>
                        <input
                            type = "text"
                            id = "email"
                            name = "email"
                            placeholder = "例abc@example.com"
                        >
                </div>
                <div class = "form-group">
                    <label for = "password">パスワード(8文字以上)</label>
                    <input
                        type = "password"
                        id = "password"
                        name = "password"
                        placeholder = "パスワードを入力してください"
                    >
                </div>
                <button type = "submit" class = "createbutton">
                    ログイン
                </button>
            </form>
            <p class="body-link">
                アカウントをお持ちでない方は<br>
                <a th:href = "@{/signup}">会員登録</a><br>
                <a th:href ="@{/}">トップページへ戻る</a>
            </p>
        </div>
    </div>
</body>
</html>