<!DOCTYPE html>
<!--
    Thymeleaf を使うために xmlns:th を指定します。
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--
        スマートフォンでも見やすくするための設定です。
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カテゴリ作成-ExamHero</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class = "header-container">
            <span class = "header-logo">
                <a  th:href = "@{/dashboard}">ExamHero</a>
            </span>

            <span >
                <a class="logoutbutton" th:href ="@{/dashboard}">ダッシュボードへ</a>
            </span>
        </div>
    </header>
    <main>
        <div class = "page-container">
            <div class="page-card">
                <h1>問題カード一覧</h1>
                <p>作成した問題の一覧です。</p>
                <div class="message">
                    <div class="success-message" th:if="${successMessage}" th:text ="${successMessage}">
                        問題カード作成成功！
                    </div>
                </div>    
                <table class="category-table">
                    <thead>
                        <tr>
                            <th>カテゴリ</th>
                            <th>問題文</th>
                            <th>正解</th>
                            <th>作成日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="question:${questions}">
                            <td th:text = "${category.name}"></td>
                            <td th:text = "${quesiotn.quesiotnText}"></td>
                            <td th:text = "${quesiotn.correctAnswer}"></td>
                            <td th:text = "${#temporals.format(quesiotn.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <a class="createbutton" th:href = "@{/quesiotns/new}">新しい問題を作成</a>
            </div>
        </div>
    </main>
</body>
</html>